@media screen and  (min-width: 1101px){
    header img {
        height: 5.5rem;
        width: 5.3rem;
        top: 1px;
    }

    nav {
        height: 10vh;
    }

    nav ul li a {
        padding: 0.5rem 1.6rem;
        font-size: 1.8rem;
    }

    h1 {
        font-size: 4rem;
        margin: 2% 9%;
    }

    .wallH1{
        font-size: 4rem;
        position: relative;
        top:-3vh;
    }
    .bar {
        width: 50px;
        height: 6px;
        margin: 6px;
    }

    .hamburger {
        margin: 10px;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    .nav-menu {
        top: 10vh;
        width: 20vw;
    }
    .nav-item {
        font-size: 1.9rem;
    }
    header img {
        margin-left:10px ;
    }
    .wallNav{
        grid-template-columns: 1fr 9fr 0.5fr;
    }

    .welcomemessage {
        font-size: 3rem;
        margin: -1% auto;
    } 

    .contenedorcards .cardpet {
    margin: 2% 1%;
    gap:0;
    }

    .testimonies {
    font-size: 3rem;
    margin: 2% 9%;

    }
    .messagetesti p {
    font-size: 2rem;
    padding: 3%;
    margin: -1% auto;
    }

    form{
        width: 35vw;
        margin: 2rem auto;
    }

    form h2{
        font-size: 3.2rem;
    }

    .labelQuestions{
        font-size: 2.2rem
    }

    form input{
        height: 6vh;
        font-size: 1.8rem;
    }

    .containerLogin{
        font-size: 2rem;
    }

    .login form input{
        margin: 2rem auto;
    }

    #btnLogin{
        height: 6vh;
        font-size: 1.8rem;

    }

    .logInWith {
        width: 126px;
        top:12px;
    }

    .btnGoogle{
        width: 18rem;
        margin-top:12px;
    }

    #btnRegister{
        height: 6vh;
        font-size: 1.8rem;
        margin: 2rem auto;
    }
}
