@media screen and (max-width:750px) {
    /* Wallpaper */
    .bodyimg {
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/wallpaper.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 130vh;
    }

    /* Tarjetas de mascotas */
    .photopets img {
        width: 119px;
        height: 105px;
        left: 29px;
        top: 185px;
        margin: 5% 5% 0% 5%;
    }

    .contenedorcards div input {
        width: 19px;
        height: 19px;
    }

    .interactionpets {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /*Formulario de login */
    .radioAndCheckbox {
        width: unset;
        display: unset;
        vertical-align: middle;
    }

    .labelQuestions {
        display: block;
        font-size: 1.7rem;
        margin: auto 8%;
    }

    .labelQuestions label {
        display: block;
    }

    .labelQuestions input {
        display: unset;
        margin: 0 1.5rem;
        width: 18px;
    }

    form .answerOption {
        font-size: 1.5rem;
    }

    form h2 {
        color: #6E0707;
        font-size: 24px;
    }
}