/* Quitar estilos default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height:100vh;
    background-color: #F0DBDB;
    font-family: 'Nunito', sans-serif;
}

@media screen and (max-width:750px) {
    /* Wallpaper */
    .bodyimg {
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/wallpaper.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 130vh;
    }

    /* Título app */
    h1 {
        font-family: 'Acme', sans-serif;
        font-size: 24px;
        margin: 5%;
    }

    /* Barra de navegación */
    nav {
        background-color: #EA907A;
        height: 44px;
        display: flex;
        justify-content: flex-end;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        display: block;
        text-decoration: none;
        color: #6E0707;
        background: rgba(245, 235, 224, 0.5);
        border-radius: 5px;
        padding: 0.5rem 1rem;
        margin: 1rem;
        font-weight: 700;
    }

    /* Logo */
    header img {
        position: absolute;
        width: 42px;
        height: 40px;
        left: 10px;
        top: 3px;
    }

    /* Mensaje de bienvenida */
    .welcomemessage {
        font-size: 15px;
        background-color: rgba(240, 219, 219, 0.7);
        width: 288px;
        height: 81px;
        text-align: center;
        margin: 5%;
        border-radius: 5px;
        padding: 3%;
    }

    /* Tarjetas de mascotas */
    .photopets img {
        width: 119px;
        height: 105px;
        left: 29px;
        top: 185px;
        margin: 5% 5% 0% 5%;
    }

    .contenedorcards div input {
        width: 19px;
        height: 19px;
    }

    .contenedorcards .cardpet {
        width: 135px;
        height: 141px;
        background-color: #F0DBDB;
        left: 174px;
        top: 178px;
        border-radius: 5px;

    }

    h3 {
        font-size: 12px;
        margin: 0;
    }

    .contenedorcards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .interactionpets {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    /* Testimonios  */
    .testimonies {
        font-family: 'Acme', sans-serif;
        font-size: 14px;
        margin-top: 10px;
        margin: 10px;
    }

    .menssagetesti {
        background-color: #F0DBDB;
        border-radius: 5px;
        margin: 8px 10px;
        font-size: 12px;
        padding: 7px;

    }

    footer {
        background-color: #EA907A;
        height: 40px;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;

    }

    /*Formulario de login */
    form input {
        border-radius: 5px;
        border-color: #EA907A;
        background-color: white;
        display: block;
        width: 85%;
        min-height: 4vh;
        margin: 1rem auto;
    }

    .radioAndCheckbox {
        width: unset;
        display: unset;
        vertical-align: middle;
    }

    .labelQuestions {
        display: block;
        font-size: 1.7rem;
        margin: auto 8%;
    }

    .labelQuestions label {
        display: block;
        /* width: 90%;
        text-align: left; */
    }

    .labelQuestions input {
        display: unset;
        margin: 0 1.5rem;
        width: 18px;
    }

    form .answerOption {
        font-size: 1.5rem;
    }

    form h2 {
        color: #6E0707;
        font-size: 24px;
    }

    #btnLogin {
        border-radius: 5px;
        background-color: #F5EBE0;
        border-color: #EA907A;
        color: #6E0707;
        width: 165px;
        height: 34px;
        display: block;
        margin: auto;
        font-size: 15px;
    }

    #btnLogin:hover {
        background-color: #EA907A;
        border-color: #F5EBE0;
        color: #F5EBE0;
    }

    #forgotPassword {
        font-size: 12px;
    }

    hr {
        width: 100%;
    }

    .logInWith {
        background-color: white;
        width: 105px;
        position: relative;
        top: 18px;
        text-align: center;
        font-weight: unset;
    }

    .btnGoogle {
        width: 15rem;
        height: 4rem;
        background-color: white;
        color: black;
        border: 1px solid gray;
        border-radius: 5px;
        font-family: 'Nunito';
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 8px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        box-shadow: 0px 3px 3px gray;
    }
}

form ul{
    list-style: none;
    margin-top: 3px;
}
.group{
    margin-bottom: 1rem;
}

/* Welcome */
.bodyimg {
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    height:160vh;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 32px;
    margin: 5%;
    color:#292D32;
}

nav {
    background-color: #EA907A;
    height: 44px;
    display: flex;
    justify-content: flex-end;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block; 
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #6E0707;
    background: rgba(245, 235, 224, 0.5);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 1rem;
    font-weight:700;
    font-size: 15px;
}

header img{

    position: absolute;
    width: 42px;
    height: 40px;
    left: 10px;
    top: 3px;
}

.welcomemessage{
    font-size: 15px;
    background-color:  rgba(240, 219, 219, 0.7) ;
    width: 288px;
    height: 81px;
    text-align: center;
    margin: 5%;
    border-radius: 5px;
    padding: 3%;
} 

.photopets img{
    width: 119px;
    height: 105px;
    left: 29px;
    top: 185px;
    margin: 5% 5% 0% 5%;
}

.contenedorcards div input{
    width: 19px;
    height: 19px;
}

.contenedorcards .cardpet{
    width: 135px;
    height: 141px;
    background-color: #F0DBDB;
    left: 174px;
    top: 178px;
    border-radius: 5px;
}

h3 {
    font-size: 12px;
    margin: 0;
}

.contenedorcards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.interactionpets{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;       
}

.testimonies{
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin: 10px;
    color: #292D32;
}

.menssagetesti{
    background-color: #F0DBDB;
    border-radius: 5px;
    margin: 8px 10px;
    font-size: 12px;
    padding: 7px;
}

footer {
    background-color: #EA907A;
    height: 40px;
    color:white;    
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/*Validaciones de correo y contraseñas*/
#txtEmail.valid {
    border: 2px solid green;
}

#txtEmail.invalid {
    border: 2px solid red;
    color: red;
    font-style: italic;
}
#txtPassword.valid {
    border: 2px solid green;
}

#txtPassword.invalid {
    border: 2px solid red;
    color: red;
    font-style: italic;
}

#txtPasswordAgain.valid {
    border: 2px solid green;
}

#txtPasswordAgain.invalid {
    border: 2px solid red;
    color: red;
    font-style: italic;
}

#spanCreateUser {
    font-size: 2rem;
    font-weight: 700;
    border-radius: 8px;
    background-color: #10a70eb8;
    background-color: #DBF0E6;
    margin: 2rem auto;
    height: 4rem;
    padding: 1rem;
    box-shadow: 1px 1px 4px gray;
    color: #315B22;
    display: none;
    align-items: center;
    justify-content: center;
}

form {
    width: 75vw;
    height: 75%;
    margin: 4rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
}

form input{
    border-radius: 5px;
    border-color: #EA907A;
    background-color: white;
}

form h2{
    font-size: 24px;
    text-align: center;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    font-size: 1.6rem;
}

#spanErrorEmail, #spanErrorPassword {
    font-size: 1.1rem;
}

#btnRegister{
    border-radius: 5px;
    background-color: #F5EBE0;
    border-color: #EA907A;
    color: #EA907A;
    width: 165px;
    height: 34px;
    margin: auto;
    display: block;
}