@media only screen and (min-width: 768px)  and (max-width: 1023px){
 
    * {
      margin: 0;
    }
    
    body {
      height: 100vh;
      background: linear-gradient(
        186deg,
        #F9F0EE 0%,
        rgba(242, 203, 169, 1) 46%,
        rgba(242, 196, 155, 1) 100%
      );
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
    } 
    
    /*-------------------------------------- LOGIN--------------------------------------------*/
    .contenedorRegisterGoogle {
      max-width: 864px;
    }
    
    .alertEmail {
      font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 17px;
    position: relative;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 270px;
    margin-left: -155px;
    }
    
    .alertPass {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 17px;
      position: relative;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: -3px;
      margin-left: -158px;  
    }  
    
      /*-------------- Se repite en create Acount--------------*/
     .logoimg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 231px;
      height: 218px;
    } 
    
     .title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      color: #757474;
      line-height: 27px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 220px;
      width: 250px;
    }

    .emailSingIn {
        top: 280px;
    }
     
    .emailSingIn,
    .passwordSingIn {
      position: relative;
      width: 300px;
      height: 34px;
      left: 50%;
      transform: translateX(-50%);
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      margin-bottom: 16px;
      border: none;
      /* top: 280px; */
    }

    .passwordSingIn{
      margin-top: 18px;
      margin-bottom: 10px;
    }
    
    .paragraphGoogle {
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #757474;
      position: absolute;
      width: 268px;
      height: 22px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      top: 496px;
    } 
    
    .haveAcount {
      font-family: "Familjen Grotesk";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #757474;
      position: absolute;
      left: 43%;
      transform: translateX(-50%);
      text-align: center;
      top: 597px;
    }
    
    .haveAcount,
    .register {
      display: flex;
      justify-content: left;
      align-items: center;
    } 
    
    .register {
      font-family: "Familjen Grotesk";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #f25d07;
      width: 27%;
      position: absolute;
      right: 156px;
      bottom: 19.2%;
      text-align: center;
      top: 598px;
      height: 20px;
    }
    
      .singIn {
        position: absolute;
        width: 300px;
        height: 38px;
        background: #f28e13;
        border-radius: 20px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: large;
        font-weight: 400;
        border: none;
        top: 457px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .buttonGoogle {
      position: absolute;
      width: 203px;
      height: 40px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 27%;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      border: none;
      text-indent: 30px;
      background-image: url(/img/logogoogle.png);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 10px center;
      top: 529px;
    }
    
    /* .logoGoogle {
      position: absolute;
      width: 34px;
      height: 32px;
      left: 29%;
      transform: translateX(-50%) translateY(-50%);
      bottom: 16%;
      z-index: 1;
      background-image: url(/img/logogoogle.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      /* background-size: contain; 
    } */
    
    /*-------------------------------------- CREATE ACOUNT--------------------------------------------*/
    
    .caption {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      color: #757474;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 200px;
      position: relative;
    }
    
    .nameCreateacount,
.emailCreateacount,
.passCreateacount,
.confirmPassCreateacount {
  /* position: relative; */
  width: 300px;
  height: 34px;
   left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /* margin-bottom: 22px; */
  border: none;
  display: flex;
  justify-content: center;
}

    .nameCreateacount{
      position: absolute; 
      top: 271px;
    }

    .emailCreateacount{
      position: absolute;
      top: 333px;
    }

    .passCreateacount{
     position: absolute;
     top: 397px;
    }

    .confirmPassCreateacount {
      position: absolute;
      top: 460px;
    }
    .alerEmailParagraph,
    .alertPassparagraph,
    .alertConfirmPassparagraph {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-size: 15px;
      position: absolute;
      left: 34%;
      color: #ffffff;
      width: 30%;
    }
    .alerEmailParagraph {
      top: 374px;
    }
    .alertPassparagraph {  
      top: 438px;
    }
    .alertConfirmPassparagraph {
      top: 502px;
    }
    
    .login {
      position: absolute;
      width: 300px;
      height: 38px;
      left: 50%;
      transform: translateX(-50%);
      background: #f28e13;
      border-radius: 20px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: large;
      font-weight: 400;
      border: none;
      top: 578px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .returnCreateAcount {
      background: url(/img/arrow.png);
      position: relative;
      top: 22px;
      left: 15px;
      border: none;
    }
    
    /*-------------------------------------- WALL --------------------------------------------*/
    
    .divWall{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      height: 768px;
      box-sizing: border-box;
      background:  #F9F0EE;
    }
    
    .contenedor {
      display: flex;
      width: 70%;
      justify-content: space-around;
    }
    
    .postContenedor{
      overflow-y: scroll;
      width: 80%;
    }
    
    .postContenedor > div{
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 15px;
      color: #595959;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin-top: 15px;
      padding: 10px;
      gap: 10px;
      box-shadow: 0px 10px 10px -10px #757474;
    }
    
    .exit {
      width: 35px;
      height: 35px;
      margin-left: auto;
      display: block;
    }
    
    .iconoAgregar{
      width:45px;
      height: 45px;
    }
    
    .nameUser{
      display: flex;
    }
    
    .mood {
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      border-radius: 5px;
      background-color: #ffffff;
      border: 1px solid #D9D9D9;
      width: 60px;
      height: 20px;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      box-shadow: inset 0 0 5px 0 #D9D9D9;
    }
    
    .statusUser{
     box-shadow: inset 0 0 5px 0 #D9D9D9;
     border: 1px solid #D9D9D9;
     /* width: 355px;
     left: -11px; */
     position: relative;
     padding: 10px;
    }
    
    .statusUser p {
      word-wrap: break-word ;
    }
    
    .statusUser h3 {
      word-wrap: break-word ;
    } 
    
    #editDelete{
      display: flex;
    }
    
    .btn-like{
      width: 30px;
      height: 30px;
    }
    
    .count-like{
      margin-top: 4px;
      margin-left: 4px;
      font-size: 20px;
    }
    
    .hidden {
      display: none;
    }
    
    .editButton{
      margin-left: -2px;
      width: 30px;
      height: 30px;
    }
    
    .deleteButton{
      margin-left: 248px;
      width: 30px;
      height: 30px;
    }
    
    #avisoBorrar{
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      background-color: #F28E13;
      color: #ffff;
      border-radius: 10px;
      text-align: center;
      width: 124px;
      height: 50px;
      z-index: 3;
    }
    
    #cancel,
    #delete{
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      border-radius: 10px;
      background-color: #fff;
      color: #595959;
      border: none;
      width: 60px;
      height: 20px;
    }
    
    /*-------------------------------------- NEW POST --------------------------------------------*/
    
    .divNewPost{
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
    
    .alertEmptyField {
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #f25d07;
      position: absolute;
      top: 600px;
      left: 50%;
      width: 200px;
      transform: translate(-50%, -50%);
    }
    
    /* .divNewPostewpost{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 80%;
      margin-top: 80px;   
      justify-content: center;
      align-content: center;
      flex-direction: column;
    } */
    
    .titleNewPost {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #757474;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 125px;
      margin-top: -30px;
    } 
    
    select { 
      position: relative;
      width: 300px;
      height: 35px;
      left: 100px;
      transform: translateX(-50%);
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      border: none;
      top: 121px;
      display: flex;
      justify-content: center;
    }
    
    .paragraphReview,
    .paragraphTitle,
    .paragraphMood  {
      transform: translate(-20px, 100px);
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #757474;
      width: 150px;
    }
    
    .paragraphMood {
      top: 100px;
      height: 15px;
    }
    
    .paragraphTitle {
      margin-top: 50px;
    }
      
    #contenedorNewPost {
      background:  #F9F0EE;
      height: 100vh;
    }
    
    .textAreaTitle,
    .textAreaReview {
      position: relative;
      width: 500px;
      height: 100px;
      left: 282px;
      margin-bottom: 39px;
      transform: translateX(-50%);
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      border: none;
      top: 115px;
      display: flex;
      justify-content: center;
    }
    
    .returnNewPost {
      background: url(/img/arrow.png);
      position: relative;
      top: 22px;
      left: 9px;
      border: none;
    }
    
    .save{
      position: fixed;
      top: 650px;
      left: 55%;
      transform: translate(-50%, -50%);
      height: 38px;
      background: #F25D07;
      border-radius: 20px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: large;
      font-weight: 400;
      border: none;
      width: 500px;
      max-width: 600px;
    }
    
    
    /*-------------------------------------- 404 --------------------------------------------*/
    
    
    .img-comida {
      position: absolute;
      width: 100%;
      height: 290px;
      top: 129px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      left: 0px;
      right: 0px;
    }
    
    .textoerror {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      text-align: center;
    }

    .return {
      background: url(/img/arrow.png);
      position: relative;
      top: 22px;
      left: 9px;
      border: none;
  }

    /*-------------------------------------- FOOTER --------------------------------------------*/
    .footer {
      top: 339px;
      position: relative;
      left: 29.5%;
      font-family: "Familjen Grotesk", sans-serif;
      font-style: normal;
      font-size: 16px;
      color: white;
      width: 342px;
    }
    
    }

    
    