 @media only screen and (min-width: 1024px)/* and (max-width: 1541px) */ {

* {
    margin: 0;
  }
  
  body {
    height: 100vh;
    background:#F9F0EE;
  } 

  /*-------------------------------------- LOGIN--------------------------------------------*/
  .contenedorRegisterGoogle {
    max-width: 864px;
  }

  .sectionLogin{
    max-width: 1541px;
    /* height: 768px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .divLogin{
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    position: relative;
    top: 259px;
    /* bottom: 10px; */
    /* height: 100vh; */
    box-sizing: border-box;
  }

  
  .backgroundLogin {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    width: 895px;
    height: 548px;
    background: linear-gradient(180deg, rgba(241, 240, 242, 0.14) 0%, #F2C49B 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .alertEmail {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    left: 64%;
    top: 82px;
    color: #ffffff;
    width: 91%;
    transform: translateX(-70%);
  }
  
  .alertPass {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    top: 11px;
    left: 29%;
    color: #ffffff;
    width: 38%;
    transform: translateX(-70%);
  }  

    /*-------------- Se repite en create Acount--------------*/

  .logoimg {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 264px;
    height: 252px;
  } 

   .title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #757474;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    position: relative;
}
  
   
  .emailSingIn {
    position: relative;
    width: 456px;
    height: 47px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 26px;
    border: none;
    font-size: 14px;
  }

  .passwordSingIn{
    position: relative;
    width: 456px;
    height: 47px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    top: 3px;
  }
  
  .paragraphGoogle {
    font-family: "Familjen Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    top: 279px;
    position: absolute;
    left: 2%;
    width: 225px;
    height: 31px;
    color: #757474;
  } 
  
  .haveAcount {
    font-family: "Familjen Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    top: 331px;
    position: absolute;
    /* bottom: -66px; */
    left: 15%;
    width: 147px;
    color: #757474;
    height: 20px;
  }
  

  .haveAcount,
  .register {
    display: flex;
    justify-content: left;
    align-items: center;
  } 
  
  .register {
    font-family: "Familjen Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #f25d07;
    top: 327px;
    position: absolute;
    left: 50%;
    width: 147px;
    height: 31px;
  }

    .singIn {
      position: absolute;
      width: 456px;
      height: 47px;
      left: 50%;
      background: #f28e13;
      border-radius: 20px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: large;
      font-weight: 400;
      border: none;
      top: 195px;
      transform: translateX(-50%);
  }
  
  .buttonGoogle {
    position: absolute;
    width: 203px;
    height: 40px;
    left: 53%;
    transform: translateY(-50%);
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    text-indent: 30px;
    background-image: url(/img/logogoogle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px center;
    top: 288px;
}
  
  
  /*.logoGoogle {
    position: absolute;
    width: 34px;
    height: 32px;
    left: 55%;
    top: 721px;
    z-index: 1;
  }*/
  
  /*-------------------------------------- CREATE ACOUNT--------------------------------------------*/

  .caption {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #757474;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 230px;
    position: relative;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .nameCreateacount,
  .emailCreateacount,
  .passCreateacount,
  .confirmPassCreateacount {
    width: 471px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    margin-bottom: 22px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 234px;
    font-size: 18px;
  }

  .alerEmailParagraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-right: 170%;
    top: 217px;
    left: 338px;
    color: #ffffff;
    width: 30%;
  }
  .alertPassparagraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-right: 170%;
    top: 219px;
    left: 339px;
    color: #ffffff;
    width: 30%;
  }
  .alertConfirmPassparagraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    margin-right: 170%;
    top: 214px;
    color: #ffffff;
    left: 340px;
    width: 30%;
  }

  .login {
    width: 568px;
    height: 45px;
    background: #f28e13;
    border-radius: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: 400;
    border: none;
    position: fixed;
    left: 50%;
    bottom: 159px;
    transform: translateX(-50%);
  }

  .returnCreateAcount {
    background: url(/img/arrow.png);
    position: relative;
    top: 32px;
    left: 30px;
    border: none;
  }

  .backgroundCreate{
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 895px;
    height: 548px;
    background: linear-gradient(180deg, rgba(241, 240, 242, 0.14) 0%, #F2C49B 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

 /*-------------------------------------- WALL --------------------------------------------*/

  .divWall{
    /* padding: 16px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    background:  #F9F0EE;
  }


  .contenedor {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .postContenedor{
    overflow-y: scroll;
    width: 100%;
    max-width: 864px;
  }
  
  .postContenedor > div{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #595959;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 15px;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 10px 10px -10px #757474;
  }

 .exit {
  width: 35px;
  height: 35px;
  display: block;
  /* margin-right: 21px; */
  bottom: -17px;
  position: relative;
  margin-left: 95%  
  }

  .iconoAgregar{
    width: 45px;
    height: 45px;
    bottom: 10px;
    position: relative;
  }
  
  .nameUser{
    display: flex;
  }

  .mood {
    font-family: "Familjen Grotesk", sans-serif;
    font-style: normal;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    width: 60px;
    height: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 5px 0 #D9D9D9;
  }

  .statusUser{
   box-shadow: inset 0 0 5px 0 #D9D9D9;
   border: 1px solid #D9D9D9;
   /* width: 355px;
   left: -11px; */
   position: relative;
   padding: 10px;
  }
  
  .statusUser p {
    word-wrap: break-word ;
  }
  
  .statusUser h3 {
    word-wrap: break-word ;
  } 

  #editDelete{
    display: flex;
  }
  
  .btn-like{
    width: 30px;
    height: 30px;
  }
  
  .count-like{
    margin-top: 4px;
    margin-left: 4px;
    font-size: 20px;
  }
  
  .hidden {
    display: none;
  }

  .editButton{
    width: 30px;
    height: 30px;
    left: 468px;
    position: relative;
  }
  
  .deleteButton{
    width: 30px;
    height: 30px;
    left: 471px;
    position: relative;
  }

  #avisoBorrar{
    font-family: "Familjen Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: #F28E13;
    color: #ffff;
    border-radius: 10px;
    text-align: center;
    width: 124px;
    height: 50px;
    z-index: 3;
  }

  #cancel,
  #delete{
    font-family: "Familjen Grotesk", sans-serif;
    font-style: normal;
    border-radius: 10px;
    background-color: #fff;
    color: #595959;
    border: none;
    width: 60px;
    height: 20px;
  }
 
/*-------------------------------------- NEW POST --------------------------------------------*/

  .divNewPost{
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  /* .divNewPostewpost{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 400px;
    /* margin-top: 60px;    */
    /* justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: 40%; 
  } */

  .alertEmptyField {
    font-family: "Familjen Grotesk", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    width: 300px;
    height: 48px;
    line-height: 22px;
    color: #f25d07;
    position: absolute;
    top: 590px;
    left: 450px;
  }
  
 .titleNewPost {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #757474;
  width: 136px;
  top: 96px;
  margin-left: 40%;
  margin-top: 100px;
} 
  
  select { 
    border-radius: 5px;
    margin-top: 90px;
    width: 600px;
    height: 30px;
    border: none;
    box-shadow: 0px 10px 10px -10px #757474;
    top: 63px;
    /* margin-right: 329px; */
    font-size: 18px;
    /* margin-left: 100px; */
  }
  
  .paragraphReview,
  .paragraphTitle,
  .paragraphMood  {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #757474;
    position: relative;
    /* top: 30px; */
    height: 13px;
    width: 187px;
    margin-right: 500px;
  }
  
  .paragraphMood {
    top: 65px;
    height: 13px;
  }
    
  #contenedorNewPost {
    background:  #F9F0EE;
    height: 100vh;
    width: 100%;
  }

  .textAreaTitle,
  .textAreaReview {
    position: relative;
    top: 6px;
    left: 41px;
    width: 700px;
    height: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 10px -10px #757474;
  }

  .returnNewPost {
    background: url(/img/arrow.png);
    position: relative;
    top: 32px;
    left: 30px;
    border: none;
  }

  .save{
    height: 38px;
    background: #F25D07;
    border-radius: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    border: none;
    width: 730px;
    /* margin-right: 449px; */
    /* top: 673px; */
    margin-top: 45px;
    margin-left: 100px;
  }


/*-------------------------------------- 404 --------------------------------------------*/


  .img-comida {
    position: absolute;
    width: 453px;
    height: 290px;
    left: -35px;
    top: 129px;
  }
  
  .textoerror {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
  }

  
  /* .loginCreateAcount {
    position: absolute;
    width: 166px;
    height: 53px;
    left: 111px;
    top: 80%;
    background: #f28e13;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-family: system-ui;
    font-weight: 100;
    font-size: large;
    font-weight: 600;
  } */
  
}
