main{
    margin: 0;
    justify-content: center;
}

body {
    background: #98DEE9;
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#root {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

header {
    height: 250px;
    display:flex;
    align-items: flex-end;
}

nav {
    height: 7vh;
    width: 100vw;
    background: #dfa0a0;
    display: flex;
    margin-top: -52px;
    justify-content: center;
}
.refresh{
    height: 100%;   
}
#exit{
 width: 50px;
 height: 200px;   
}

label {
    font-size: 20px;
    color: #0A4D68;
}

.insertInfo {
    background: #D9D9D9;
    width: 250px;
    height: 35px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}


input::placeholder {
    font-size: 15px;
}

.button {
    font-size: 17px;
    background: #279A82;
    width: 230px;
    height: 40px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    background-color: #1f836d;
}

/* CSS DE PAGE HOME */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 60%;
}

p{
    font-size:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0A4D68;
}

#posts{
    background: rgb(14, 38, 92)(255, 0, 149);
    width: 80%;
    justify-content: center;

}