@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 425px) {

    html,
    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        position: fixed;
    }

    .welcomeBody {
        background: linear-gradient(#9a0051, black);
        height: 100%;
    }

    .welcomeSection {
        background: linear-gradient(#9a0051, black);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .logo {
        width: 70%;
        padding: 15%;
    }

    .articleLogoTxt {
        margin-top: -15%;
        text-align: center;
        font-size: x-large;
        color: #d9d9d9;
        font-family: 'Advent Pro', sans-serif;
    }

    .welcomeBox {
        background-color: #FFFFFF;
        border-radius: 10px;
        margin: 8%;
        font-family: 'Advent Pro', sans-serif;
        text-align: center;
        padding: 5%;
        margin-bottom: 40%;
    }

    .boxText {
        font-family: 'Advent Pro', sans-serif;
        font-size: large;
        margin-bottom: 10%;
    }

    .signInBtn {
        font-family: 'Advent Pro', sans-serif;
        width: 70%;
        margin-bottom: 3%;
        background-color: #510BAB;
        border: none;
        color: #FFFFFF;
        font-size: larger;
        padding: 4%;
    }

    .signUpBtn {
        font-family: 'Advent Pro', sans-serif;
        width: 70%;
        margin-bottom: 3%;
        border-style: solid;
        border-color: #510BAB;
        border-width: 1.5px;
        font-size: larger;
        padding: 4%;
    }

    #logoRegister {
        width: 20%;
        display: flex;
        align-content: flex-end;
    }

    .registerSection {
        display: none;
        background: linear-gradient(#510BAB 50%, white 50%);
    }
}